@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  font-family: Raleway;
  display: grid;
  grid-template-columns: 20% auto;
}
.main__menu {
  background-color: #f1f1f7;
  height: 800px;
  text-align: center;
}
.main__menu ul {
  width: 150px;
  margin: auto;
  margin-top: 100px;
}
.main__menu ul li {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-align: left;
  list-style: none;
  margin-top: 40px;
  color: rgb(98, 98, 160);
}
.main__menu ul li:hover {
  color: rgb(226, 152, 165);
  cursor: pointer;
}
.main__menu ul li img {
  width: 40%;
}
.main__menu ul li p {
  width: 100px;
}
.main__menu h1 {
  display: block;
  font-family: Pacifico;
  color: rgb(98, 98, 160);
  padding-top: 20px;
}
.main__menu span {
  font-family: Raleway;
  font-weight: 100;
  color: rgb(226, 152, 165);
}
.main__content__content {
  width: 90%;
  margin: auto;
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto auto;
}
.main__content__content__day {
  margin-top: 40px;
  width: 330px;
  height: 170px;
  border: 1px solid rgb(98, 98, 160);
}
.main__content__content__day__title {
  font-size: 34px;
  font-weight: 800;
  color: rgb(98, 98, 160);
  margin-top: -20px;
  background-color: white;
  width: 200px;
  margin-left: 10px;
  padding-bottom: 20px;
}
.main__content__content__day__content {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(99, 99, 99);
}
.main__content__content__day__content li {
  list-style: none;
  margin-top: 5px;
}
.main__content__content__day__content #red {
  background-color: #fde3e3;
}
.main__content__content__day__content #yellow {
  background-color: #fcfcde;
}
.main__content__content__day__content #green {
  background-color: #eeffee;
}
.main__content__content__day__content #orange {
  background-color: #fdf0dc;
}
.main__content__title {
  font-size: 24px;
  color: rgb(98, 98, 160);
  border-bottom: 1px solid rgb(98, 98, 160);
  margin-top: 80px;
  width: 85%;
  padding-bottom: 20px;
  margin-left: 100px;
}
.main__content__inputs {
  width: 80%;
  display: grid;
  margin: auto;
  margin-top: 50px;
}
.main__content__inputs input {
  margin-top: 20px;
  height: 40px;
  border: solid 1px rgb(98, 98, 160);
  padding-left: 20px;
  font-family: Raleway;
  padding-right: 20px;
}
.main__content__inputs__howLong {
  margin-top: 20px;
}
.main__content__inputs__howLong__container {
  display: flex;
  margin-top: 10px;
  gap: 40px;
  background-color: rgb(197, 222, 238);
  padding-left: 50px;
  padding-right: 25px;
  height: 40px;
  align-items: center;
}
.main__content__inputs__howLong__container li {
  list-style: none;
  color: #7272aa;
  cursor: pointer;
}
.main__content__inputs__howLong__container .clicked {
  background-color: red;
  padding: 14px;
  border-radius: 2px;
  color: white;
  background-color: #3481b3;
}
.main__content__inputs textarea {
  padding-left: 20px;
  margin-top: 20px;
  border: solid 1px rgb(98, 98, 160);
  padding-top: 10px;
  font-family: Raleway;
}
.main__content__urgency {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.main__content__urgency__colors {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.main__content__urgency__colors--red {
  background-color: rgb(216, 34, 34);
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
.main__content__urgency__colors--orange {
  background-color: rgb(246, 179, 57);
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
.main__content__urgency__colors--yellow {
  background-color: rgb(202, 202, 33);
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
.main__content__urgency__colors--green {
  background-color: rgb(22, 122, 22);
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
.main__content button {
  background-color: rgb(98, 98, 160);
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  border-radius: 6px;
  margin-left: 34%;
  margin-top: 30px;
}
.main__content button:hover {
  background-color: rgb(226, 152, 165);
}/*# sourceMappingURL=main.css.map */